@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root{
    --body-color:#e7dedeef;
    --nav-color: #d8882dbd;
    --bg-color:rgba(243, 230, 203, 0.397);
    --text-color:rgb(58, 53, 53);
    --shortcut:#554d4d;
    --event:black;
    --writepostheading:#351e11;
    --posttext:black;
    --posttext-a: #351e11;
    --posttext-span:#351e11;
    --activityicontext:black;
    --settingscolor:#dde6e7f3;
    --addpostlinkcolor:#351e11;
    --userprofiletext:black;
    --settinglinksA:#351e11;
    --onlinelist:black;
    --boxshadow1:rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --boxshadow2:rgba(0, 0, 0, 0.336) 0px 4px 12px;
    --mixblend:none;
    --storyback:rgba(196, 188, 167, 0.397);
    --footer:black;
    --textinput:black;
    --texthover:rgb(197, 151, 26);
    --orangetexthover:rgb(165, 101, 101);
    --button:rgb(206, 151, 114);
    --button1:rgb(216, 202, 202);
   

    --container1:#eed07cc9;
    --container2:#eed07cc9;
    --container3:#ebd69e70;
    --container4: #e0b53c70;
}

.darktheme{
    --body-color:#000000ef;
    --nav-color: #3b2308bd;
    --bg-color:rgba(73, 68, 57, 0.397);
    --text-color:rgb(235, 228, 228);
    --shortcut:#d8c9c9;
    --event:rgb(255, 255, 255);
    --posttext:white;
    --writepostheading:#ffffff;
    --posttext-a:rgb(134, 122, 122);
    --posttext-span:#f1ceb9;
    --activityicontext:rgb(255, 255, 255);
    --settingscolor:#2b2c2cf1;
    --addpostlinkcolor:#c4bab5;
    --userprofiletext:rgb(230, 207, 207);
    --settinglinksA:#dddcdc;
    --onlinelist:rgb(216, 205, 205);
    --boxshadow1:rgba(180, 168, 168, 0.37) 0px  0px  1px;
    --boxshadow2:rgba(253, 253, 253, 0.1) 0px 1px 12px;
    --mixblend:lighten;
    --storyback:rgba(29, 28, 25, 0.397);
    --footer:white;
    --textinput:white;
    --texthover:rgb(165, 163, 157);
    --orangetexthover:rgb(219, 210, 210);
    --button:rgb(134, 118, 109);
    --button1:rgb(83, 73, 73);
    

    --container1:#6e613cc9;
    --container2:#664e0dc9;
    --container3:#36332b70;
    --container4: #251e0b70;


}
.conatiner1{
    height:200px;
    width:200px;
    border-radius: 50%;
    display:block;
    position:absolute;
    top:10px;
    left: -8vw;
    pointer-events: none;
    background-color:var(--container1);
    animation-name: bwoo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
    animation-delay: 1s;
    mix-blend-mode: darken;
    box-shadow: var(--boxshadow2);
}
.conatiner2{
    height:150px;
    width:150px;
    border-radius: 50%;
    display:block;
    position:absolute;
    top:-15vh;
    left: -5vw;
    overflow:hidden;
    background-color:var(--container2);
    animation-name: bwoo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
    animation-delay: 6s;
    mix-blend-mode: darken;
    pointer-events: none;
    box-shadow: var(--boxshadow2);
}
.conatiner3{
    height:250px;
    width:250px;
    border-radius: 50%;
    display:block;
    position:absolute;
    top:10vh;
    left: 20px;
    pointer-events: none;
    background-color: var(--container3);
    animation-name: bwoo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
    mix-blend-mode: darken;
    box-shadow: var(--boxshadow2);
}
@keyframes bwoo {
    0%{
        transform:scale(0.8);
        transform:translateX()
    }
    25%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
    75%{
        transform:scale(1);
    }
    100%{
        transform:scale(0.8);
    }
    
}
.conatiner4{
    height:40px;
    width:40px;
    border-radius: 50%;
    display:block;
    position:absolute;
    top:43vh;
    left:13vw;
    pointer-events: none;
    background-color: var(--container4);
    animation-name: bwoo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
    animation-delay: 2s;
    mix-blend-mode: darken;
}
body{
    background: var(--body-color);
    transition:background 0.3s;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:var(--nav-color);
    padding:5px 5%;
    position:sticky;
    top:0;
    height:7vh;
    z-index:100;
}
.logo{
    width: 160px;
    margin-right:10px;
    color:white;
    
    letter-spacing: 2px;
    /* font-size:50px; */
}
.nav-left, .nav-right{
    display:flex;
    /* align-items: center; */


}
.left{
    list-style: none;
    display:inline-block;
    margin-left:2vw;
    cursor: pointer;
  

}
.left img{
    fill:rgb(255, 255, 255);
    margin: 0 15px;
}
.usericon img{
 cursor:pointer;
 border-radius: 50%;

}
.search-box img{
    height:14px;
}
.search-box{
    background: #ffffff;
    width:22vw;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-top-style: hidden;
    box-shadow: var(--boxshadow2);
    z-index: 100;
  
}
.search{
    width: 100%;
    background:transparent;
    outline: none;
    border:0;
  background: #ffffff;
  padding:0.2em; 

}
.usericon{
    margin-left:2vw;
    border-radius: 50%;
}
.online{
    position: relative;
    border-radius: 50%;
}
.online::after{
    content:"";
    width:6px;
    height: 6px;
    border:2px solid #ffffff;
    background:transparent;
    border-radius: 50%;
    position:absolute;
    background-color: greenyellow;
    bottom:0;
    left:0;

}
.online img{
    border-radius:50%;
}
.onlinelist p{
    display:flex;
    color:var(--onlinelist);
}
.container{
    display:flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.leftsidebar{
    /* background-color:rgb(255, 255, 255); */
    position:sticky;
    flex-basis:10%;
    top:70px;
    align-self: flex-start;
    /* height:100vh; */
    border-radius: 0.2em;
    z-index: 50;
    
    
}
.rightsidebar{
    /* background-color:rgb(255, 255, 255); */
    position:sticky;
    flex-basis:25%;
    top:70px;
    align-self: flex-start;
    /* height:100vh; */
    border-radius: 0.2em;
    background:var(--bg-color);
    padding:0.5em;
    box-shadow: var(--boxshadow1);
    border: 0.1px solid rgba(199, 192, 192, 0.123);
}
.main{
    flex-basis:60%;
    /* background-color:white ; */
    border-radius:0.2em ;
   
    z-index: 80;
    
}
.implinks a,.shortcut a{
    text-decoration: none;
    display:flex;
    align-items: center;
    margin-bottom: 30px;
    width:fit-content;
    color:var(--text-color);

}
.implinks a:hover{
    color:var(--texthover);
}
.implinks a{
    mix-blend-mode:var(--mixblend);
}

.implinks a img,.shortcut a img{
    width:25px;
    margin-right:10px;


}

.implinks a:last-child{
    color:#bb5526;
}
.implinks a:last-child:hover{
    color:var(--orangetexthover);
}
.implinks{
    border-bottom:1px solid grey;
}
.shortcut p{
    margin: 25px 0;
    color:var(--shortcut);
    font-weight:bold;
}
.shortcut a:hover{
    color:var(--texthover);

}
.sidebartitle{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebartitle a{
    text-decoration: none;
    color:#e26f2d;
    font-size: 12px;
}
.sidebartitle a:hover{
    color:var(--orangetexthover);
}
.sidebartitle h4{
   font-weight:bold;
    font-size: 16px;
    color:var(--event);
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    color:var(--event);
   
}
.leftevent{
    border-radius:1em;
    height:6em;
    width:6em;
    margin-right:15px;
    padding-top:10px ;
    text-align: center;
    position:relative;
    overflow:hidden;
    box-shadow:var(--boxshadow2);
}
.event p{
    font-size: 12px;
    
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color:#cc5815;
    
}
.event a:hover{
    color:var(--orangetexthover);
}
.leftevent span{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background: #d8882ddc;
    color:white;
    padding:4px 0;

}
.promoted{
    width:100%;
    height:50%;
    padding:0.2em;
}
.onlinelist{
    display:flex;
    margin-bottom: 20px;
    align-items: center;

}
.onlinelist .online img{
    width:40px;
}
.onlinelist .online::after{
    top:unset;
    bottom:2px;
    left:4px;

}
.storyfull{
    border-radius:0.4em;
    background-color:var(--storyback);
    box-shadow: var(--boxshadow1);
    border:0.2px solid rgba(180, 180, 180, 0.178);
    border-radius: 0.3em;

    
    
}
.storyfull p{
    color:var(--footer);
    padding:1%;
      
}
.storygallery{
    display:flex;
    padding: 1%;
    justify-content: space-between;
    margin-bottom: 1px;
    box-sizing: border-box;
 

}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
   
    background-position: center;
    background-size: cover;
    border-radius:0.3em;
    cursor: pointer;
    margin-bottom: 10px;

}
.story img{
    position: absolute;
    border-radius: 50%;
    width:5vw;
    top:2vh;
    left:10px;
    border: solid #df8d22;

}
.story p{
    position:absolute;
    bottom:1vh;
    width:100%;
    text-align: center;
    color:white;
    font-size: 14px;
    cursor: pointer;
}
.story0{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(/IMG/samplestory.jpg);

}
.story1{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(/IMG/story1.jpg);

}
.story2{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(/IMG/story2.jpg);

}
.story3{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(/IMG/story3.jfif);

}
.story4{
    background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(/IMG/story4.jfif);

}
.story0 img{
    top:unset;
    left:50%;
    bottom:40px;
    transform:translateX(-50%); 
}
.writepostcontainer{
    margin-top: 10px;
    width:100%;
    background:var(--bg-color);
    border-radius:0.4em;
    padding:1%;
    color:#ac8753;
    box-shadow: var(--boxshadow1);
    border:0.2px solid rgba(194, 194, 194, 0.144);
}
.userprofile{
    display:flex;
    align-items: center;
    margin-bottom: 10px;

}
.userprofile img{
    width:30px;
    border-radius: 50%;
    margin-right: 10px;
}
.userprofile  p{
margin-bottom: -5px;
font-weight: bold;
color:var(--writepostheading);

}
.userprofile div a{
    color:var(--userprofiletext);
}
.userprofile small{
    font-size:12px;
}

.down{
    height: 10px;
    margin-left: -10px;
}
.postinput{
    padding-left:10px;
    padding-top:18px;
}
.postinput textarea{
    width:100%;
    border:0;
    outline:0;
    border-bottom:1px solid #ccc;
    color:var(--textinput);
    background:transparent;
    resize:none;
    border-radius: 0.1em;
}
.addpostlinks{
    display:flex;
    margin-top: 10px;
    margin-left: 6px;
    justify-content: space-around;
    margin-bottom: 10px;
}
.addpostlinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color:var(--addpostlinkcolor);
    font-size: 13px;;
}
.addpostlinks img{
    width:20px;
    margin-right:5px;
}
.postcontainer{
    width:100%;
    background:var(--bg-color);
    box-shadow: var(--boxshadow1);
    border-radius:0.2em;
    padding:1%;
    margin-top:20px;
    border:0.2px solid rgba(180, 180, 180, 0.178);
    box-sizing: border-box;
}
.userprofile span{
    font-size: 10px;
    color:var(--posttext-span);
}
.posttext{
    margin: 15px 0;
    font-size:13px;
    text-align: left;
    color:var(--posttext);
}
.posttext a{
    text-decoration: none;
    color:var(--posttext-a);
    font-weight: bold;
}
.postimage{
    width:100%;
    border-radius: 0.3em;
    margin-bottom:15px;
}
.postrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activityicons{
    margin-bottom: 10px;
}
.activityicons div img{
    width:12px;
    margin-right:10px;

}
.activityicons div{
    display: inline-flex;
    align-items: center;
    margin-right:30px;
    font-size: 12px;
    color:var(--activityicontext);
}
.postprofileicon{
    display:flex;
    align-items: center;
}
.postprofileicon img{
    width:20px;
    border-radius:50%;
    margin-right: 5px;
}
.dots{
    height: 12px;
    color:#351e11;
    

}
.end{
    display:block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border:none;
    border-radius: 0.5em;
    margin-top:20px;
    background-color: #e49628e8;
    box-shadow: var(--boxshadow2);
}
.footer{
    text-align: center;
    padding:10px 0 20px;
    font-size: 13px;
    margin-top: 50px;
    color:var(--footer);
}
.settingsmenu{
    position: absolute;
    width:90%;
    max-width: 350px;
    background-color: var(--settingscolor);
    /* box-shadow: var(--boxshadow2); */
    border-radius:0.3em;
    overflow: hidden;
    top:8vh;
    right:5%;
    max-height: 0;
    transition:max-height 0.3s ;

}
.settingsMenuHeight{
 max-height: 450px;
}
.userprofile a{
    font-size: 12px;
    color:#351e11;
    text-decoration: none;
}
.settingsinner{
    padding:20px;
}
.settinglinks{
    display:flex;
    align-items: center;
    margin: 15px 0;
}
.settinglinks .settingsicon{
    width:38px;
    margin-right: 10px;
    border-radius: 50%;
}
.settinglinks a{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color:var(--settinglinksA);
}
#darkbtn{
    position:absolute;
    top:20px;
    right:20px;
    background-color: #626262;
    width:45px;
    border-radius:15px;
    padding:2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#darkbtn span{
    width:18px;
    height:18px;
    background-color: #ccc;
    border-radius: 50%;
    display:inline-block;
}
#darkbtn.darkbtnon{
    padding-left: 23px;
    background: black;
}